/* ============================================ *
 * Variables
 * ============================================ */
@import "mixins"; // Custom mixins, functions, etc

// Sizes
$max-width: 960px;
$superwide: 2100px;
$retina: 1400px;
$desktop: 960px;
$tablet: 767px;
$mobile: 479px;

// Colors
$color-gold: #BA9C56;
$color-black: #000000;
$color-red: #EF4822;
$color-blue: #c7e0fa;
$color-bone: #EFEFE7;
$color-silver: #C2C3C4;
$color-gray: #5d5e5a;